* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

button {
  padding: 10px;
  font-size: large;
  font-weight: bold;
  background-color: orangered;
  color: white;
  border-style: solid;
}

button:hover {
  color: yellow;
  scale: 101%
}

.nums {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-items: center;
}

/* Does not need to be flex or grid */
.numsSetContainer {
  width: 100%;
  border: 1px solid firebrick;
}

.numsSet {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  justify-items: center;
}

.num {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  background-color: beige;
  color: darkgreen;
  font-weight: bolder;
  font-size: larger;
  display: grid;
  place-items: center;
}

.alt {
  background-color: cornsilk;
  color: darkred;
}